node_modules
bower_components
.DS_Store
.idea

typings/

# lib is where typescript + babel output goes
lib/
# typescript's ES6 output goes in src/*.js before babel transforms it and
# moves it to lib
src/*.js
src/ast-utils/*.js
src/loader/*.js
